@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;;
  overflow-x: hidden;
}
body{
  background-color: #fafafa;
  overflow-y: scroll;
  padding-bottom: 5rem;
}
.black-grad{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
}

::-webkit-scrollbar{
  display: none;
}

.radiobtn{
  width: 0.3rem !important;
}

.amt-indicator{
  transition: all 3s ease-out;
  -webkit-transition: all 3s ease-out;
}